fsspec==2025.9.0
hf-xet==1.1.9
jsonschema-specifications==2025.9.1
langchain-community==0.3.29
langchain-core==0.3.76
langchain-litellm==0.2.0
langchain-mcp-adapters==0.1.9
langchain-text-splitters==0.3.11
langsmith==0.4.27
mcp-server==0.1.4
mcp==1.12.4
narwhals==2.4.0
numpy==2.3.3
orjson==3.11.3
regex==2025.9.1
rpds-py==0.27.1
starlette==0.47.3
streamlit==1.50.0
tokenizers==0.22.0
uvicorn==0.35.0
langchain-ollama==0.3.8
nest-asyncio==1.6.0
